<div class="container row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
        <h3 class="head"><strong>{{countyName1}}</strong> Country view</h3>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-warning" (click)="goBackToPreviousPage()">Go Back</a>
    </div>
  </div>
<div class="card mb-3" *ngIf="countryDetails">
  <img class="card-img-top" src="{{countryDetails[0].flag}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{countryDetails[0].name}}</h5>
    <ul class="list-group">
      <div class="row">
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>Capital: </strong>{{countryDetails[0].capital}}
          </li>
        </div>
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>Region: </strong>{{countryDetails[0].region}}
          </li>
        </div>
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>Subregion: </strong> {{countryDetails[0].subregion}}
          </li>
        </div>
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>Population: </strong> {{countryDetails[0].population}}
          </li>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>Area: </strong>{{countryDetails[0].area}} KM
          </li>
        </div>
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>Alpha2Code: </strong>{{countryDetails[0].alpha2Code}}
          </li>
        </div>
        <div class="col-sm-3">
            <li class="list-group-item">
              <strong>NumericCode: </strong>{{countryDetails[0].numericCode}}
            </li>
          </div>
        <div class="col-sm-3">
          <li class="list-group-item">
            <strong>NativeName: </strong> {{countryDetails[0].nativeName}}
          </li>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col">
            <li class="list-group-item">
              <strong>TimeZone: </strong> {{countryDetails[0].timezones}}
            </li>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
              <li class="list-group-item">
                <strong>Currencies: </strong><div *ngFor="let curr of countryDetails[0].currencies">
                  <a class="clickCurrency" *ngIf="curr.code !== null" [routerLink]="['/currency',curr.code]">
                    {{curr.name}}</a>
                    </div>
              </li>
            </div>
          </div>
        <br>
      <div class="row">
        <div class="col">
          <li class="list-group-item">
            <strong>Borders: </strong>{{countryDetails[0].borders}}
          </li>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col">
            <li class="list-group-item">
              <strong>Languages: </strong><div *ngFor="let lang of countryDetails[0].languages">
                  <a class="clickCurrency" [routerLink]="['/language',lang.iso639_1]">
                    {{lang.name}}</a>
                </div>
            </li>
          </div>
        </div>
    </ul>
  </div>
</div>













