<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container navbar-inner">
    <a class="navbar-brand img-fluid" routerLink="/home"><img class="logo img-responsive" src="./assets/img/logos/logo.jpg"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: !isCollapsed}">
      <ul class="nav navbar-nav ml-auto" (click)="isCollapsed = !isCollapsed">
        <li class="nav-item" ><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/home">Home</a></li>
        <li class="nav-item" ><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/product">Product</a></li>
        <li class="nav-item" ><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/contact">Contact</a></li>
        <li class="nav-item" ><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/signup">Signup</a></li>
        <li class="nav-item" ><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/login">Login</a></li>
        <li class="nav-item" ><a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/cart">Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<div class="main">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="footer-distributed row">

  <div class="footer-left col-md-5">

    <h3>Awzing<span></span></h3>

    <p class="footer-links">
      <a routerLink="/home">Home</a> ·
      <a routerLink="/about">About</a> ·
      <a routerLink="/product">Product</a>.
      <a routerLink="/contact">Contact</a>
    </p>

    <p class="footer-company-name">Awzing Healthcare pvt. ltd. &copy; 2018</p>

    <div class="footer-icons">


      <a href="https://www.facebook.com/AwzingPvt/"><i class="fa fa-facebook"></i></a>

    </div>

  </div>

  <div class="footer-center col-md-4">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>S.NO, Haripur,Sector-4</span> Panchkula(HR), India</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@awzing.com</a></p>
    </div>

  </div>

  <div class="footer-right col-md-3">

    <img style="height:180px;margin-left:35px" src="./assets/img/logos/thank.jpg">
    <!--   
    <p class="footer-company-about">
      <span>About the company</span> Awzing Heathcare pvt. ltd. is a pharmaceutical company headquartered at New Delhi, The
      capital of India. Our main activities are focused on to improve the quality of life by providing better health services
      by developing and marketing quality and proprietary pharmaceutical product.
    </p>
  -->
  </div>

</footer>