<div class="container">
 <h3 class="aboutUs">About US</h3><br>
  <div class="row">
    <div class="col-sm-7">
        <h1 class="head">Improving health through superior products</h1>
      <p class="about">
          Founded by the Arun kumar Singh and Avinash Kumar, Awzing Heathcare pvt. ltd. is one of India’s most respected pharmaceutical companies committed to deliver better health through superior products.<br>
          <br>
          Awzing has several pharma products that address the needs of relevant and growing therapeutic areas like gastroenterology, cardiology, diabetology, psychiatry, neurology, anti-bacterials, anti-infectives and pain management.
        
      </p>
    </div>
    <img class="col-sm-5 img-responsive"  src="./assets/img/logos/med1.jpg">
  </div>
</div>