<div class="container" style="margin-top:2vh">
  <img src="./assets/img/logos/prod.jpg" class="prod img-responsive">
  <br><br>
  <h2 class="quote">
    We make a wide range of prescription medicines, vaccines<br>
      and consumer healthcare products.
  </h2>
  <br>
  <div class="row">
      <h2 class="ourProduct col-sm-4">Our Products</h2>
       <h6 class="col-sm-4"><a [routerLink]="['/product']">Image view</a></h6>
       <h6 class="col-sm-4"><a [routerLink]="['/product-list']">List view</a></h6>
  </div>
  <br>
  <div class="row"> 
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/1.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Zingofolvin</a>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/2.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Zawinac-P</a>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/3.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Klorofen</a>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/4.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Zawinac-SP</a>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/5.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Pantozing-DSR</a>
        </h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/6.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Zimicob</a>
        </h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/7.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Zingofolvin</a>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="./assets/img/logos/8.JPG" alt=""></a>
        <h4 class="card-title text-center">
          <a href="#">Zingflox-200</a>
        </h4>
      </div>
    </div>

  </div>
</div>