
.card{
    margin-bottom: 4vh;
}
.prod{
    width: 100%;
    height: 36vh;
}
.head{
     color: grey;
}
.ourProduct{
    color: green;
}
.quote{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #556B2F;
}